<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Brunnen</key>
	<array>
		<dict>
			<key>Longitude</key>
			<string>122.32237816</string>
			<key>Latitude</key>
			<string>37.58692206</string>
		</dict>
		<dict>
			<key>Longitude</key>
			<string>122.38580704</string>
			<key>Latitude</key>
			<string>37.61518327</string>
		</dict>
	</array>
</dict>
</plist>
